<link rel=stylesheet href=../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css integrity=sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u crossorigin=anonymous>
<link rel=stylesheet href=../code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css>
<script src=../code.jquery.com/jquery-1.12.4.js></script>
<script src=../code.jquery.com/ui/1.12.1/jquery-ui.js></script>
<script src=../cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js></script>
<link rel=stylesheet href=../cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css />
<style>.accordion>h3:first-child{margin-top:0}.ui-accordion-header{margin-top:5px!important;font-size:20px!important;background:#222;color:white}.ui-accordion-content{background:#222;color:white}body{background:#222;color:white;margin:10px;font-family:"Lato",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}a{color:#00bc8c;text-decoration:none}a:hover{color:#007053;text-decoration:underline}#message{font-size:20px;width:55%;text-align:left;border:1px solid white;border-radius:4px;padding:25px}#visits{position:absolute;top:0;right:0}#thebutton{font-size:25px}#nav{padding:20px;width:fit-content}#nav ul{font-size:18px}:target{color:red}</style>
<title>All SU Episodes Free</title>
</head>
<body>
<h1>This is a free resource for watching Steven Universe online.</h1>
<h4>I was frustrated with kisscartoon's intrusive, inappropriate ads and mislabeled messes, so I created this.</h4>
<h4>If you have any comments, complaints, or problems, email me at <a href=mailto:admin@stevenuniverse.xyz>admin@stevenuniverse.xyz</a></h4>
<br/><br/>
<div id=announce>
<h1><a href=#movie>The Steven Universe Movie is up!</a></h1>
</div>
<br/>
<div id=nav>
<h1>Navigation</h1>
<ul>
<li><a href=#season1>Season One</a></li>
<li><a href=#season2>Season Two</a></li>
<li><a href=#season3>Season Three</a></li>
<li><a href=#season4>Season Four</a></li>
<li><a href=#season5>Season Five</a></li>
<li><a href=#movie>Steven Universe: The Movie</a></li>
<li><a href=#shorts2>Season 2 Shorts</a></li>
<li><a href=#shorts4>Season 4 Shorts</a></li>
</ul>
</div>
<h1 id=season1>Season One</h1>
<div class=accordion>
<h3>0. Pilot</h3>
<div>
<iframe src="https://drive.google.com/file/d/12QI7qAoxGBZ6Jsw4wRujLq4SOPWKm7SG/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>
<p>
Upon returning from an intergalactic mission, the Crystal Gems-Garnet, Amethyst, and Pearl-have brought a mysterious magical hourglass. Steven Universe, the youngest member of the Crystal Gems, gets his hands on the device and discovers that it has the ability to let him travel back in time in order to make snappy comebacks. However, his actions soon bring about a deadly adversary, with everyone's lives dependent on Steven being able to make a worthwhile comeback.
</p>
</div>
<h3>1. "Gem Glow"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1vew5ywnZ0r8V-cgqKOIteeyKi5eotH2X/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>
<p>
Steven becomes depressed when his favorite ice-cream sandwich brand, Cookie Cat, gets taken off the market. He soon cheers up upon discovering that the Gems managed to get a hold of some of the last remaining Cookie Cats, which he believes may hold the key to activating his gem.
</p>
</div>
<h3>2. "Laser Light Cannon"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ugfFdruiO39-7c6w8E5VsJEl3y-n90dH/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>
<p>
When a menacing red eye is about to hit Beach City, the only thing that can destroy it is a Laser Light Cannon which once belonged to Steven's mother, Rose Quartz. Thus, Steven enlists the help of his father, Greg, and they search through his storage for the cannon.
</p>
</div>
<h3>3. "Cheeseburger Backpack"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1nUQFs8VGZrQFjG0FO1j-PHB6qum2xCjY/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/> The Crystal Gems go on a mission to place a Moon Goddess statue on top of the ruined Lunar Sea Spire, and Steven tries to prove he can be useful with the help of his new novelty Cheeseburger Backpack.
</div>
<h3>4. "Together Breakfast"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Gch9csiHoVyerP9AzGWAcLkwljpAtkbQ/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/> Steven's attempt to get the Gems to share his special breakfast tradition lands him on a journey through their ancient Gem temple.
</div>
<h3>5. "Frybo"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1CVg9mnctQhAaJcS9XaYosUiBBqwJvBLF/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/> Steven brings a mascot costume to life with a magical gem shard in order help his friend Peedee, but it backfires when the mascot goes rogue.
</div>
<h3>6. "Cat Fingers"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1teQ_VoDqhtfVVL30hPvGwWX4RnIThF89/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/> Steven tries to master his shapeshifting abilities with Amethyst, but turns his fingers into cats, making it harder to do things.
</div>
<h3>7. "Bubble Buddies"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1tICDGwjYEDA9MBk8lFCJYC9OYX-5Ks3Y/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/> Steven forms a magic bubble around himself and a girl named Connie to save her from a falling rock, but he has no idea how to make it disappear.
</div>
<h3>8. "Serious Steven"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1J7O3a4f8hJ3o9Qon8Ofh3p_YuhDrZSBU/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>While navigating out of an ancient Gem maze, Steven tries to prove himself to the Gems by being serious.
</div>
<h3>9. "Tiger Millionaire"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1_i1JMza8fI0XkyQSHgCDZ-DgEPgkcjmY/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven joins an underground wrestling league with Amethyst, who's tired of Garnet and Pearl bringing her down.
</div>
<h3>10. "Steven's Lion"</h3>
<div>
<iframe src="https://drive.google.com/file/d/10uqwlNtjCCucZ2KdAz5W8Ruq0VaE-DI7/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven befriends a magical lion he finds in the desert during a mission.
</div>
<h3>11. "Arcade Mania"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1jG5EtUsiQWr7HEgBGklNm9hfPZLut1gr/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven takes the Gems on his own kind of adventure by bringing them to the Funland Arcade, where Garnet becomes enchanted by a rhythm game.
</div>
<h3>12. "Giant Woman"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Ahom2jBY6QdD9l9PsnvBzr3v_tEIRshv/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven encourages Amethyst and Pearl to fuse together into a four-armed "giant woman" named Opal (Aimee Mann). Amethyst and Pearl, however, keep on quarrelling.
</div>
<h3>13. "So Many Birthdays"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Bp5y0FBH6S1fyEeJsDTw5HJtobXsrPkB/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After learning that the Gems are thousands of years old, Steven decides to make up for all the birthdays they've missed.
</div>
<h3>14. "Lars and the Cool Kids"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1WY6cNJyUhSrufl8lVtveM0PgEaM56X9r/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and Lars get to hang out with the cool kids (Jenny Pizza, Buck Dewey, and Sour Cream) in town, but their teenage shenanigans get them into magical trouble.
</div>
<h3>15. "Onion Trade"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ep9bquxaPp4lbPgCfZY8tjMiqDbwa6yh/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>A toy trade between Steven and Onion escalates into epic proportions.
</div>
<h3>16. "Steven the Sword Fighter"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Asbw-qVqvJgX8HzMMASs9fOKsoSov9Wj/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Pearl's attempt to teach Steven the art of sword-fighting using a holographic version of herself goes awry when she gets injured and has to retreat into her gem to heal..
</div>
<h3>17. "Lion 2: The Movie"</h3>
<div>
<iframe src="https://drive.google.com/file/d/15SuDFr4AAAFsAQCD2dDsF603ov-OumHK/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and Connie try to ride Lion to the movie theater, but Lion (unfortunately) has other plans.
</div>
<h3>18. "Beach Party"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ZxUfr_AVzZpRcvTG8CHs-Ubb5YlQL7Mc/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After a battle damages the Fish Stew Pizza sign, the Gems are banned from the restaurant, so Steven throws a cookout on the beachside to mend the relationship between the Pizza family and the Gems.
</div>
<h3>19. "Rose's Room"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1BoTcX4ENwhYRfLVU7MhfLutAl-vDPFXa/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven's desire for some alone time unlocks a new room in the temple that answers his every wish.
</div>
<h3>20. "Coach Steven"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1GTtwJfmBklqmPeRY6dmGUUw0-UOX8wqN/preview" width="320" height="240" allowfullscreen=true'></iframe>
<br/>
<br/>Against Pearl's wishes, Steven becomes determined to get stronger after watching Garnet and Amethyst fuse into the mighty Sugilite (Nicki Minaj).
</div>
<h3>21. "Joking Victim"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1owh4S_2K7eGZEh9eIgNaItNv7uE5QQTK/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven works at the Big Donut when Lars leaves Sadie with all the work.
</div>
<h3>22. "Steven and the Stevens"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1HrPzh62dDFWpp8hEA7tMVmEIU5e8JNSS/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven needs a musical partner for an upcoming show, so he uses a time travel device to recruit himself as the perfect bandmate.
</div>
<h3>23. "Monster Buddies"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1z_JziuoGLohrkEPRNViXLWlzYyRp-UuI/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven attempts to tame a Gem monster's wild form when he accidentally releases it from its bubble.
</div>
<h3>24. "An Indirect Kiss"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1VP2YJszMPzYc4yt_BYH1HP3ge0MBesK1/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven tells Connie about his mission with the Gems to heal Amethyst when she cracked her gem.
</div>
<h3>25. "Mirror Gem (Part 1)"</h3>
<div>
<iframe src="https://drive.google.com/file/d/12tzpANKYt500QA6n3Tv4VsRUpB7UK9WD/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven befriends a magical mirror that can mysteriously communicate with him, and ends up freeing its trapped captive: Lapis Lazuli, another mysterious Gem.
</div>
<h3>26. "Ocean Gem (Part 2)"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1opP7VIM9Ft5aPqXcUv9T-vVElV41btFW/preview" width="320" height="240" allowfullscreen"true"></iframe>
<br/>
<br/>Lapis Lazuli disappears after reigniting a past conflict with the three Crystal Gems and takes the ocean with her, leaving Beach City in a panic on the first day of summer. Steven, Connie, Greg, Lion and the Gems go on a mission to confront Lapis and set things right.
</div>
<h3>27. "House Guest"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Njb4Lj6Msza2Raqv05v3KAi0HkmO9aAJ/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Left homeless and with a broken leg after the events of the previous episode, Greg stays with Steven and the Gems as a temporary house guest and unintentionally interferes with Steven's healing powers.
</div>
<h3>28. "Space Race"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1no1xR7PKaZcultvZgLRA_Cau0QLzQrAX/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven, Pearl, and Greg visit the family barn and work together to build a spaceship so that Pearl can revisit the wonders of the cosmos, but Pearl gets a little carried away.
</div>
<h3>29. "Secret Team"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1emNp2E-cuiURt4z-nSji4RwOU-F7HRGd/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>When they accidentally pop a bubble containing gem shards, Steven forms a secret team with Amethyst and Pearl to retrieve the shards before Garnet finds out. After doing so, Steven wants to keep the secret team.
</div>
<h3>30. "Island Adventure"</h3>
<div>
<iframe src="https://drive.google.com/file/d/10A1Xj9d8D68e_46QXmPH_HJWrZM8fnYK/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven tries to mend Lars' and Sadie's friendship by taking them on vacation to Mask Island.
</div>
<h3>31. "Keep Beach City Weird"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1oK9zw2upglYdtY1pVz0JD2CN2Oz1nNhl/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven is taken in by Ronaldo's conspiracy theories about the paranormal occurrences in Beach City.
</div>
<h3>32. "Fusion Cuisine"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1acQn8n3ofqktW4FHpkw2GTlWzQfwznYx/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven asks the Gems to fuse together into Alexandrite (Rita Rani Ahuja) and pretend to be his mother at a dinner with Connie's family.
</div>
<h3>33. "Garnet's Universe"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1x8cinJW3MLcokb82QPY4xokEWIGWYsFB/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven interprets what Garnet did during the day when she returns from a mission.
</div>
<h3>34. "Watermelon Steven"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1uzfk00w43pX1XHvGpYGkWyfzw7_KEpy_/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven grows a patch of watermelons shaped like himself, but they soon come to life and attack the people of Beach City and the Crystal Gems.
</div>
<h3>35. "Lion 3: Straight to Video"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ZcheHQckGNYXl4GmLzJ1MKp6FsK6YYPc/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Lion keeps lying on Steven's face while he's sleeping, leading to Steven discovering a pocket dimension in Lion's mane.
</div>
<h3>36. "Warp Tour"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1xTIrS-0NIt7kCXPfhHygpzTFJC9K31f1/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven becomes uneasy after seeing an unknown object traversing through a warp stream, despite the Gems' attempts to disprove his claims. The four soon end up learning about Peridot, another Gem, in the process.
</div>
<h3>37. "Alone Together"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1mL09MNqeS6_d--4QOd5RvHE8peiciWGY/preview" width="320" height="240"></iframe>
<br/>
<br/>While practicing how to fuse with the Gems, Steven accidentally fuses with Connie, forming a Gem-human hybrid/human fusion named Stevonnie (AJ Michalka).
</div>
<h3>38. "The Test"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ozjekIVZcS3UAcYIoOR6XjdF8-UANKTx/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After finding the Moon Goddess Statue, Steven finds out that the Lunar Sea Spire mission from the third episode was a test, so he demands a new one.
</div>
<h3>39. "Future Vision"</h3>
<div>
<iframe src="https://drive.google.com/file/d/14ZI9UsEyj0hJVRrIpU7qre4JUOdfKx1_/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven learns that Garnet can see into the future and becomes paranoid about the possible dangers around him.
</div>
<h3>40. "On the Run"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1mNwrOJcx7XwzKH9XLE89HZw_kw6Fob3W/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and Amethyst try life out on the road, but Amethyst later reveals a dark secret about herself and the Gems to Steven.
</div>
<h3>41. "Horror Club"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1CjCt0U1Z2nVGbcd-UEQsOP2pEP3bQ2q4/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven goes to the lighthouse to watch scary movies with Ronaldo, Lars, and Sadie.
</div>
<h3>42. "Winter Forecast"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1evp-G2ibfvRZeQHxyZnBzL7dppSDyI80/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven has to take Connie back to her home before a blizzard hits Beach City, and Garnet shows him some outcomes of this before they leave.
</div>
<h3>43. "Maximum Capacity"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1vM0KOO5sQf6DvjM1PbNzEiDX2YAwpsiX/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>While cleaning out Greg's storage unit, he and Amethyst are reunited with their favorite sitcom Li'l Butler.
</div>
<h3>44. "Marble Madness"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1al3Qx90LdXiie8KzIrYCwamcinT2JQ08/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>When several droids from space descend towards warp pad zones, Steven and the Gems attempt to find out their purpose.
</div>
<h3>45. "Rose's Scabbard"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1yx9CGWwn9Xnh2ml-_MGsN0hceayMJYzS/preview" width="320" height="240"></iframe>
<br/>
<br/>Pearl takes Steven to a special place that belonged to Rose Quartz after Lion finds the scabbard for Rose's sword.
</div>
<h3>46. "Open Book"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1iZJmcjRj2bVdnWUWQwzZAb_e-e4MF6ea/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>When Connie is upset by the ending of her favorite book series, Steven takes her to Rose's room, where they remake the ending.
</div>
<h3>47. "Shirt Club"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1X-XTqBE_Ko69YATEi4pFn-_tdlg8jcDE/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and Buck make T-shirts.
</div>
<h3>48. "Story for Steven"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1PX8ixoDMhPYuGK6GsW3DcUGTbx-YX60c/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Greg tells Steven the story of how he met Rose Quartz.
</div>
<h3>49. "The Message"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Qju0iwgjGb4i_x5kHin-DMjNzcEFHMfN/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and the Gems need Greg's help to retrieve a message from the Wailing Stone.
</div>
<h3>50. "Political Power"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Y1WE-hjai3jmKygvgt7GsAE_P4N9aOjm/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After the Gems cause a power outage in Beach City, Steven helps Mayor Dewey control the situation.
</div>
<h3>51. "The Return (Part 1)"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1CAp_qKq2A3B7Ikj4bWZyoh0uOuKmUHPs/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Peridot arrives on Earth with her new escort and partner, Jasper.
</div>
<h3>52. "Jail Break (Part 2)"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1HBt4z4VIZSknXQ9ZMDBct39sN7OMxMsY/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Trapped on Peridot's ship, Steven attempts to rescue the Gems, including two mysterious Gems named Ruby and Sapphire, from the two Homeworld Gems' clutches.
</div>
</div>
<h1 id=season2>Season Two</h1>
<div class=accordion>
<h3>1. "Full Disclosure"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1cre48B56tfItuat5GM9XNloiNqsjl6kp/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven tries to avoid Connie so he won't tell her about his ordeal with the Homeworld Gems from the previous episodes.
</div>
<h3>2. "Joy Ride"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1XiftcFcV7gOk-akTc3Vme9Xx6YzXVCtU/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Buck, Jenny and Sour Cream take Steven out on a late-night joyride to lift his spirits, until they end up discovering Peridot's escape pod.
</div>
<h3>3. "Say Uncle"</h3>
<div>
<iframe src="https://drive.google.com/file/d/13hsxtNn-VPVV0RSn7BkOLmksTNpx15zd/preview" width="320" height="240"></iframe>
<br/>
<br/>In this non-canon episode, Uncle Grandpa arrives to aid Steven in unlocking the power of his gem.
</div>
<h3>4. "Love Letters"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1MN5iKSpKWQQOkSMvMcsEJW5aDUGqACXh/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>When Jamie the mailman falls in love with Garnet, Steven and Connie must help turn him down gently.
</div>
<h3>5. "Reformed"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1AqFtWGCIrmGCdcIOCPqr2bQbOanVeCvV/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Amethyst keeps trying to find a new form to regenerate into while she, Steven and Garnet chase after a Gem monster loose in the temple.
</div>
<h3>6. "Sworn to the Sword"</h3>
<div>
<iframe src="https://drive.google.com/file/d/11MmmtSfXEoTldetA47b3YRVSb9bQWt_9/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Connie, wanting to protect Steven, takes swordfighting lessons with Pearl.
</div>
<h3>7. "Rising Tides, Crashing Skies"</h3>
<div>
<iframe src="https://drive.google.com/file/d/15trbLM-YwoiVUu8GssLVF4m8wPwKHaAX/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Ronaldo investigates the Crystal Gems in a web documentary for his "Keep Beach City Weird" blog.
</div>
<h3>8. "Keeping it Together"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Woptfj_peRJeo7tVPLaT7EEBeT4r4KMD/preview" width="320" height="240"></iframe>
<br/>
<br/>While the Crystal Gems chase after Peridot in the Kindergarten, Steven and Garnet discover a dark secret while exploring its inner workings.
</div>
<h3>9. "We Need to Talk"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1YMPH6fY4wpm3jGty4_Jbg70dWas39Uhi/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After witnessing Steven and Connie fuse again, Greg explains to them how he learned about fusion from his time with Rose Quartz, hoping to pull it off himself in order to grow closer to her.
</div>
<h3>10. "Chille Tid"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1PJFz8K_ehUl-j83At2G5oGCPyczNsfBX/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Garnet has Pearl and Amethyst stay with Steven, who is exhausted from searching for Malachite in the ocean with the Gems, for a slumber party. However, Steven discovers that he has the power of astral projection, and is rattled by recurring dreams of Lapis Lazuli.
</div>
<h3>11. "Cry for Help"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1GehWJuklkujgkcI9BCN_DmlkXvMk0t8p/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>When TV broadcasts are disrupted by a video signal emitted by Peridot from the Gem communication tower, Garnet chooses to fuse with Pearl into Sardonyx (Alexia Khadime) to destroy it, which dismays Amethyst. As the tower keeps being fixed, however, Steven and Amethyst are shocked to discover who's really behind it.
</div>
<h3>12. "Keystone Motel"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1JVQORfpo9jnEUv0fIuM7KZ3HrXaR44CI/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>While she accompanies Greg and Steven on a road trip to another state and a visit to a motel, Garnet's frustration with what Pearl did in the previous episode causes her to split into Ruby and Sapphire.
</div>
<h3>13. "Onion Friend"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Pe-30vcEdx_l4Q81uvfzhj4g3ute_X2C/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>During a visit to Onion's house, Amethyst rekindles her friendship with his mother, Vidalia, while Onion shows Steven around his room.
</div>
<h3>14. "Historical Friction"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Oidfn8mxWQpNBACzUWWP9EkUCqyKHzOV/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven is asked by Jamie to participate in a play funded by Mayor Dewey about Beach City's founding, with Pearl stepping in to provide a more historically accurate script.
</div>
<h3>15. "Friend Ship"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Q6IdXxk3SXthvc30AU_Ayvr-54ypemyF/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After the recent events, Pearl wants to redeem herself by capturing Peridot, who then traps the Crystal Gems in an old abandoned Gem spaceship.
</div>
<h3>16. "Nightmare Hospital"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1gT2wopPYmYVSyPeYGGq0v5Pz7xZXk0D2/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and Connie sneak into a hospital to retrieve Rose's sword from Connie's mother.
</div>
<h3>17. "Sadie's Song"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Y1QsEojNheKHcDlqdu9aGxXqGlMolynh/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven helps Sadie with an act for the annual Beach-a-Palooza.
</div>
<h3>18. "Catch and Release"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1yKZtPU06fwyUSm0FgI-d73hLRLHtL2iO/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>The Crystal Gems finally capture Peridot, but Steven suspects that she knows something and attempts to learn what it is, allowing her to live in his bathroom.
</div>
<h3>19. "When it Rains"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1i4iMssITeib57OJPyqYfwl0H6E0jCr5z/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>After Steven explains how rainstorms work to Peridot, she decides to tell him about her mission for locating an experimental creation called the Cluster.
</div>
<h3>20. "Back to the Barn"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ck6lrht4X75hAP7Vj58gBoLjSAs6rQ4v/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>At the barn, when Peridot and Pearl fight over who will lead the construction of a drill that will take the group to the Cluster's location, Steven suggests they build robots and compete with each other.
</div>
<h3>21. "Too Far"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1E6dEKXIFHFbgflp8ONLFsGRAf9VWUeEC/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Peridot gets carried away with Gem gossip and reveals something about Amethyst, unintentionally offending her.
</div>
<h3>22. "The Answer"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1TQyBIJG3YSA6lL-fBGdqlslDFBiJ8Ojd/preview" width="640" height="480" allowfullscreen="true"></iframe>
<br/>
<br/>Garnet tells Steven the story of how Ruby and Sapphire first met, and how they joined the Crystal Gems.
</div>
<h3>23. "Steven's Birthday"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Amj2FlNMoWLj7O6zGsa6BfIg-kb6CkWs/preview" width="640" height="480" allowfullscreen="true"></iframe>
<br/>
<br/>While celebrating his fourteenth birthday with the Gems, Greg, and Connie, Steven takes on a more adult form using his shapeshifting powers. However, this proves harmful to his human half.
</div>
<h3>24. "It Could've Been Great"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1ejt8pUwx9V1-iLacQXL6Bp5KUXNg_qZt/preview" width="320" height="240" allowfullscreen="true"></iframe>
<br/>
<br/>Steven and the Gems travel to an information archive on the Moon to discover the Cluster's exact location.
</div>
<h3>25. "Message Received"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1Hz2yNmHesYWaTuaSEAmumXcY2AE_MSIv/preview" width="640" height="480" allowfullscreen="true"></iframe>
<br/>
<br/>Steven becomes devastated and doubtful in Peridot after she steals a communication device from the Moon Base, which she uses to contact her leader, Yellow Diamond (Patti LuPone).
</div>
<h3>26. "Log Date 7 15 2"</h3>
<div>
<iframe src="https://drive.google.com/file/d/1xKgZWJ6vhVopexhPj3ieVyYH8Wn7JDFH/preview" width="640" height="480" allowfullscreen="true"></iframe>
<br/>
<br/>While Peridot is in turmoil over what she did in the previous episode, Steven listens to her audio diary and learns how she and Garnet learned to get along during their time at the barn, despite their radical differences.
</div>
</div>
